@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root{
    --cor-titulo: #FBFFE4;
    --cor-texto: #B3D8A8;
    --cor-fundo: #3D8D7A;
    --cor-destaque:#A3D1C6;

    --fonte-titulo: "Krona One", sans-serif;
    --fonte-texto: "Montserrat", sans-serif;    
}

body {
    background-color: var(--cor-fundo);
    color: var(--cor-titulo);
    margin: 0;
    font-family: var(--fonte-titulo);
    line-height: 1.6;
    min-height: 100vh;
    }

    /* --- CABEÇALHO --- */
    header {
        background-color: var(--cor-destaque);
        color: var(--cor-titulo);
        text-align: center;
        padding: 20px;
        font-size: 1.5em;
        top: 0;
        left: 0;
        width: 100%vp;
        z-index: 1000;
        
    }

    header h1 {
        margin: 0;
        color: var(--cor-fundo)
    }

    header p {
        margin: 5px 0 0 0;
        font-size: 0.9em;
        color:var(--cor-fundo);
    }
    /* ===== BOTÃO MENU ===== */
    .menu-btn {
        background-color: #0066ff;
        border: none;
        color: white;
        font-size: 18px;
        padding: 10px 15px;
        cursor: pointer;
        border-radius: 5px;
        margin-right: 15px;
        }

    nav a {
        display: block;
        padding: 4px 8px;
        text-decoration: none;
        color: #333;
        border-left: 4px solid transparent;
        transition: all 0.2s;
    }

    .menu-btn:hover {
        background-color: #0052cc;
        }
    nav {
        position: fixed;
        top: 190px; /* abaixo do header */
        left: 5px;
        width: 255px;
        background-color: #f2f2f2;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0,0,0,0.2);
        overflow: hidden;
        transition: 0.3s ease;
        opacity: 0;
        transform: translateY(-10px);
        pointer-events: none;
        z-index: 9;
        font-family: var(--fonte-texto);
        font-size: 16xp;
        }
    nav.show {
        opacity: 1;
        transform: translateY(0);
        pointer-events: auto;
        }    
    nav a {
        display: block;
        padding: 12px 15px;
        text-decoration: none;
        color: #333;
        border-bottom: 1px solid #ddd;
        font-size: 16px;
        font-weight: bold;
    }

    nav a:last-child {
        border-bottom: none;
    }

    nav a:hover {
        background-color: #ddd;
        }        
    /* --- CONTEÚDO PRINCIPAL --- */
    main {
        margin-left: 240px;
        padding: 140px 30px 40px 30px;
    }

    h1 {
        color: var(--cor-titulo);
        font-family: var(--fonte-titulo);
        font-size: 1.70em;
    }

    h2 {
        color: var(--cor-texto);
        margin-top: 40px;
        font-family: var(--fonte-texto);
    }

    p {
        color: var(--cor-texto);
        text-align: justify;
        margin: 10px 0;
    }

    /* --- SEÇÕES COM TEXTO + IMAGEM LADO A LADO --- */
    .section-content {
        display: flex;
        align-items: flex-start;
        justify-content: space-between;
        gap: 20px;
        margin-top: 15px;
    }

    .section-text {
        flex: 1;
    }

    .section-image {
        flex: 0 0 35%;
    }

    .section-image img {
        width: 100%;
        border-radius: 10px;
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.15);
    }

    footer {
        text-align: center;
        padding: 20px;
        background: var(--cor-titulo);
        color: var();
    }
    .roda_pe{
        color:var(--cor-fundo);
        text-align: center;
    }

    /* --- RESPONSIVIDADE (celular/tablet) --- */
@media (max-width: 768px) {

        main {
        padding:0 0 0 5px;
    }
        
    main {
            margin-left: 22px;
            padding: 140px 20px 40px 0px;
        }

        /* --- IMAGEM ABAIXO DO TEXTO --- */
    .section-content {
            flex-direction: column;
        }

    .section-image {
            width: 100%;
            margin-top: 10px;
        }
    }
    html {
        scroll-behavior: smooth;
    }

